name: workflow

on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"

permissions:
  id-token: write
  contents: read

jobs:
##############################################
# 1) Continuous Integration
##############################################
  integration:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Lint Code
        run: echo "Linting repository"

      - name: Run Unit Tests
        run: echo "Running unit tests"


##############################################
# 2) Build & Push ECR Image (CI/CD)
##############################################
  build_and_push:
    name: Continuous Delivery
    needs: integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY_NAME }}
          IMAGE_TAG: latest
        run: |
          echo "Building Docker image..."
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          echo "Pushing to ECR..."
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG


##############################################
# 3) Deploy on EC2 Self-Hosted Runner
##############################################
  deploy:
    name: Continuous Deployment
    needs: build_and_push
    runs-on: self-hosted   # EC2 RUNNER
    steps:

      - name: Pull Latest Image
        run: |
          docker pull 404925354687.dkr.ecr.us-east-1.amazonaws.com/chicken:latest

      - name: Stop Existing Container
        run: |
          docker rm -f cnncls || true

      - name: Run New Container
        run: |
          docker run -d -p 8080:8080 \
            --name cnncls \
            404925354687.dkr.ecr.us-east-1.amazonaws.com/chicken:latest

      - name: Cleanup old unused resources
        run: docker system prune -f
